[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
notebook = "*"

[packages]
pygithub = "*"
lkml = "*"
looker-sdk = "*"
lookml = {git = "https://github.com/llooker/lookml.git",ref = "ceaab8993c9603fee7e933b29b6c3cd1a205a023"}
ipython = "*"
exception = "*"
exceptions = "*"
pandas = "*"
numpy = "*"
panda = "*"
shell = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
